<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>Blank</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">

    <div class="jumbotron">
      <h1>Micro Blog</h1>
    </div>

    <div class="row" id="blog-form" align="center">
      <div class="col-md-8 col-md-offset-2">
        
        <!-- new post form -->
        <form class="form-inline" id="new-post-form">
          <input name="body" id="post-input" type="text" class="form-control" placeholder="What have you got to say?">
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
        <button class="btn btn-default" type="button">Post Count <span class="badge">0</span></button>
        
        <!-- list of posts -->
        <ul class="list-group">
        <% for (var i = 0; i < posts.length; i++) { %>
          <li class="list-group-item">
            <%= posts[i].body %>
            <button data-id="<%=posts[i].id %>" type='button' class='close' aria-label='Close'><span>&times;</span>
            </button>
            <!-- <button data-id="<%=posts[i].id %>" type='button' class='update' aria-label='Update'>Update</button> -->
          </li>
        <% } %>
        </ul>
        
      </div>
    </div>

  </div>
</body>
</html>